* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;

}


.header {
    padding: 10px 330px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
}

.logo {
    height: 80%;
}

.header-links {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.header-links a {
    color: #e5e7eb;
    text-decoration: none;
}
.bo {
    background-color: #1f2937;
    display: flex;    
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    height: 500px;
    gap: 160px;

}

.inner h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;

}

.inner p {
    font-size: 18px;
    color: #e5e7eb;


}

.bo img {
    height: 275px;
    width: 800px;

}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    flex-wrap: wrap;
    gap: 26px;

}

.inner button {
    background-color: #3882f6;
    border: none;
    color: white;
    font-size: 21px;
    padding: 10px 15px;
    text-align: center;
    width: 150px;
    height: auto;
    font-weight: bold;
    border-radius: 12px;
}